body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 
  'Main'
  'cardList';
}

.Main {
  grid-area: Main;
  background-color: #202020;
  width: 1200px;
  height: 309px;
  border-radius: 12px;
  margin-top: 84px;
}
.Main h1 {
  margin: 32px 0 32px 32px;
}
.Main div {
  display: inline-grid;
  width: 558px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.Main input {
  height: 48px;
  font-size: xx-large;
}
.Main button {
  position: relative;
  left: 80%;
  width: 231px;
  height: 57px;
  background: #36CE7C;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.error {
  box-sizing: border-box;
  background: #221515;
  border: 1px solid #FF7070;
}
.error span {
  position: relative;
  top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FF7070;
}
h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
}
.list {
  grid-area: cardList;
}

.cardList {
  display: grid;
  gap: 30px;
  grid-template-columns: 590px 590px;
  padding-left: 0px;
}

.card {
  width: 590px;
  height: 258px;
  border-radius: 12px;
}

.card span {
  position: relative;
  top: 158px;
  left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.card h1 {
  position: relative;
  top: 138px;
  left: 20px;
  width: 165.94px;
  height: 48px;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
}
